.card, .cards {
  min-height: 15rem;
}

.card {
  font-size: 2rem;
  opacity: 1;
  transition: opacity 0.25s linear;
  /* animation-fill-mode: forwards; */
  /* backface-visibility: hidden; */
}

.flip {
  opacity: 0;
}